*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins','sans-serif';
}
section {
background-color: #FFE072;
display: grid;
grid-template-columns: 60rem;
justify-content: center;
align-items: center;
grid-template-areas: 
"banner"
"title"
"info";
padding: 5rem 52vw;
}
@media screen and (max-width: 500px){
section {
background-color: #FFE072;
display: grid;
grid-template-columns: 20rem;
justify-content: center;
align-items: center;
grid-template-areas: 
"banner"
"title"
"info";
padding: 5rem;
padding-bottom: 12rem;
}
iframe {
margin-left: -9.5rem;
overflow:auto;
transform: scale(0.5);
}
section{
padding-bottom: 20rem;
}
.sectiontwo{
background-color: #141313;
color: whitesmoke;

}
.dupla{
display:grid;

transform: translate(-7rem,-12rem) scale(0.8);
margin-bottom: -8rem;
}
}
.banner{
grid-area: banner;
max-width: 50rem;
box-sizing: border-box;
align-items: stretch;
}
h1{
font-weight: 500;
line-height: 20px;
grid-area: title;
padding:1rem 0;
font-size: 45px;
width: 60%;
display: inline-block;
/* padding-bottom: 4rem; */
}
h1 strong{
font-weight: 700;
}
h3{
grid-area: info;
font-weight: 300;
width: 80%;
}
a{
;
padding-left: 2rem;
text-decoration: none;   
color:whitesmoke;
font-weight: 500;
}
.sectiontwo{
background-color: #141313;
color: whitesmoke;
}
.logo {
position: relative;
padding-top: 1rem;
z-index: 100;
margin-left: -10;
/* transform: scale(0.7); */
}
.dupla{
margin-top: -21rem;
margin-bottom: -13rem;
margin-left: -10rem;
clip-path: inset(23% 0 21% 0);
}
#youtube{
font-weight: 400;
color: white;
padding: 2rem;
border-radius: 30px;
background-color:#141313;
border: 2px solid #141313;
border-radius: 15px;
}
.footer{
text-align: left;
margin-left: 2rem;
font-weight: 300;
}
iframe {
/* margin-left: 2rem; */
}
